/*Basic styling*/
@font-face {
  font-family: "sans serif";
  src: url("../fonts/SansSerifFLF.otf") format("opentype");
  src: url("../fonts/SansSerifBldFLF.otf") format("opentype");
  src: url(../fonts/SansSerifFLF-Italic.otf) format("opentype");
}

@font-face {
  font-family: verdana;
  src: url("../fonts/Verdana.ttf") format("truetype");
  src: url("../fonts/verdanab.ttf") format("truetype");
}

:root {
  font-family: "open sans", sans-serif, verdana;
  font-size: 62.5%;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 2em;
  overflow-x: hidden;
  margin: 0 2em;
}

h1 {
  color: rgb(10, 54, 65);
}

/* Loading screen */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(10, 54, 65);
  animation: spin 2s linear infinite;
}

#buttonContainer {
  display: flex;
  align-items: center;
}

#loadingFilter {
  display: none;
  top: 50%;
  border: 16px solid rgb(10, 54, 65);
  border-top: 16px solid grey;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

.filterable-cards {
  position: relative;
}

@keyframes spin {
  0% { transform:rotate(0deg);}
  100% { transform: rotate(360deg);}
}

/* Media screens for desktop */
@media (min-width: 1280px) {
  :root {
    margin: 0 5em;
  }
}

/* Media screens for mobile */
@media (min-width: 375px) and (max-width: 1280px) {
  
}

/* Media screens for tablet */
@media (min-width: 767px) and (max-width: 1280px) {
  
}