/* Header styling */
ul {
  margin: 0;
}

header {
  font-size: 1.5em;
  background-color: rgb(10, 54, 65);
  width: 100%;
  margin: 0;
}

/* Hamburger menu styling */
.off-screen {
  background-color: rgb(10, 54, 65);
  max-width: 200px;
  position: absolute;
  display: none;
  margin: auto;
  padding: 1em;
  top: 10%;
}

.menu {
  padding: 0;
  text-align: center;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li {
  list-style-type: none;
  padding: 1rem 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: white;
}

/* Cart menu styling */
.hamburger-menu {
  text-align: left;
  margin-left: 1em;
  width: 10%;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.cart-button p {
  display: inline-block;
}

.cart-button {
  text-align: right;
  margin-right: 1em;
}

.cart-button p:hover,
.cart-button i:hover {
  cursor: pointer;
  color: rgb(141, 141, 141);
}

.cart ul {
  background-color: rgb(10, 54, 65);
  max-width: 200px;
  position: absolute;
  display: none;
  margin: auto;
  padding: 1em;
  top: 10%;
}

#cartMenu {
  background-color: rgb(10, 54, 65);
  position: absolute;
  width: auto;
  display: none;
  margin: auto;
  padding: 1em;
  text-align: center;
}

#cartMenu p {
  font-size: 1em;
}

.close-button {
  font-family: "Open Sans";
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  padding: 0.5em;
}

.cart-content p {
  font-size: 0.5em;
}

.cart-button span {
  background: rgb(63, 63, 63);
  border-radius: 45%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 6px;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  border-top: 1px solid black;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-content h2,
.cart-content h3 {
  font-size: 0.5em;
}

#cartItem {
  font-size: 0.5em;
}

ul p {
  padding: 1rem 0;
  color: white;
}

 /* Media screens for desktop */
@media (min-width: 1280px) {
  .off-screen {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .hide-mobile li {
    display: inline-block;
    columns: white;
  }

  .cart-button {
    display: inline-block;
  }

  nav {
    justify-items: center;
  }

  .hide-mobile li {
    padding: 0 1em;
  }

  .hide-mobile a:hover {
    cursor: pointer;
    color: rgb(141, 141, 141);
  }

  .close-button {
    font-size: 0.5em;
  }

  #cartMenu {
    padding: 0 3.5em;
  }
}

/* Media screens for mobile */
@media (min-width: 375px) and (max-width: 1280px) {
  .hide-mobile {
    display: none;
  }
}

/* Media screens for tablet */
@media (min-width: 767px) and (max-width: 1280px) {
  .hide-mobile {
    display: none;
  }

  .close-button {
    font-size: 0.5em;
  }
}