/*Header styling*/
nav {
  background-color: rgb(10, 54, 65);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 2em;
  align-items: center;
  justify-items: center;
}

header img {
  max-width: 4em;
}

header i {
  color: white;
}

li {
  list-style-type: none;
}

li a {
  color: white;
}

.cart {
  color: white;
}

.cart-text {
  display: inline-block;
  color: white;
}

 /* Media screens for desktop */
@media (min-width: 1280px) {
  nav {
    background-color: rgb(10, 54, 65);
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    height: 2em;
    align-content: center;
    font-size: 1.5em;
    padding: 1.5em;
  }
  
  .nav-links {
    display: flex;
    gap: 10%;
    justify-content: center;
  }
  
  .hamburger-menu {
    display: none;
  }
}

/* Media screens for mobile */
@media (min-width: 375px) {
  ul {
    display: none;
  }
}

/* Media screens for tablet */
@media (min-width: 767px) {
  
}