/*Body styling*/
h2 {
  color: white;
}

img {
  object-fit: cover;
}

/*Products styling */
/* Buttons styling */
a.mens-button,
a.womens-button {
  font-family: "Open Sans";
  width: 8em;
  padding: 1em 2em;
  text-align: center;
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
}

button {
  font-family: "Open Sans";
  background-color: rgb(10, 54, 65);
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
}

.container button:hover {
  transform: rotate(6deg);
  background-color: rgba(10, 54, 65, 0.8);
}

/* Image styling */
.container img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px grey;
}

.front-page-img {
  height: auto;
  width: 100%;
}

.container img {
  margin: 1em 0;
  background-color: grey;
  padding: 2em;
  border-radius: 25px;
  display: inline-block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  justify-items: center;
}

.child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Filter buttons */
.filter-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.active {
  background: rgba(10, 54, 65, 0.8);
  color: white;
}

button:hover {
  background-color: rgba(10, 54, 65, 0.8);
}

.card.hide {
  display: none;
}

/* Rest of page styling */
.browse {
  display: flex;
  justify-content: space-around;
  background-color: rgb(10, 54, 65);
}

.browse-content {
  display: flex;
}

.browse-text {
  color: white;
  text-align: center;
  margin: auto;
}

.collections {
  color: rgb(10, 54, 65);
  display: flex;
  justify-content: space-between;
}

.collection-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mens-collection,
.womens-collection {
  position: relative;
}

.mens-collection img,
.womens-collection img {
  border-radius: 2em;
  max-width: 95%;
  max-height: 65em;
}

.mens-collection .homepage-3,
.womens-collection .homepage-4 {
  position: relative;
}

.womens-collection img {
  float: right;
}

.collection-link {
  display: grid;
  grid-template-columns: auto auto;
}

/* Media screens for desktop */
@media (min-width: 1280px) {
  .browse-item img {
    max-height: 25em;
    margin: 0 6em;
  }
  
  .browse-text {
    color: white;
    font-size: 1.5em;
    width: 10em;
  }

  .browse img {
    padding: 1em 0;
  }

  .container img {
    max-width: 10em;
  }

  .mens-button,
  .womens-button {
    font-size: 1em;
  }

  .mens-button:hover,
  .womens-button:hover {
    background-color: rgb(21, 100, 21);
    transition-duration: 0.5s;
  }

  .mens-button,
  .womens-button {
    transition-duration: 0.5s;
  }

  .womens-collection h2 {
    margin-left: 5%;
  }

  .products img {
    min-height: 20em;
    min-width: 16em;
  }

  button {
    font-size: 1em;
  }
}

/* Media screens for mobile */
@media (min-width: 375px) and (max-width: 1280px) {
  .filter-buttons {
    flex-wrap: wrap;
  }

  .products {
    margin: 0 1em;
  }
  
  body {
    margin: 0;
   }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 0.9em;
  }

  .browse img {
    height: 10em;
    padding: 1em 0;
  }

  .homepage-1,
  .homepage-2 {
    margin: 0 0.2em;
  }

  .collections {
    flex-direction: column;
  }
  
  .mens-collection,
  .womens-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products img {
    max-width: 9em;
    max-height: 9em;
  }
}

/* Media screens for tablet */
@media (min-width: 767px) and (max-width: 1280px) {
  body {
    margin: 0;
   }

  button {
    font-size: 1em;
  }

  .browse img {
    height: 10em;
    padding: 1em 0;
  }

  .browse-text {
    width: 30%;
  }

  .homepage-1,
  .homepage-2 {
    margin: 0 1em;
  }
}